@font-face {
    font-family: 'Actay';
    src: url('../font/Actay-Regular.otf') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Actay-wide';
    src: url('../font/ActayWide-Bold.otf') format('woff');
    font-weight: 700;
    font-style: bold;
}