body{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    font-size: 14px;
    background-color: rgb(49, 48, 46);
}
.container{
    width: 100%;
    min-height: fluid-prop(896,568,1280,320);
    max-width: 1280px;
    background-image: url(../imgicons/back.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fluid-prop(0,-400,1280,320);
    padding-block: fluid-prop(40,30,1280,320);
    padding-inline: fluid-prop(70,15,1290,320);
    & .menu_desktop{
        display: flex;
        align-items: center;
        justify-content: space-between;
            @media (min-width:1000px) {
                justify-content: start;
            }
        & #logo{
            max-width: fluid-prop(140,88,1280,320);
            min-width: fluid-prop(140,88,1280,320);
            max-height: fluid-prop(45,40,1280,320);
            transition: all 0.5s;
            margin-right: 50px;
            &:hover{
                opacity: 70%;
                transition: all 0.5s;
            }
        }
        & ol{
            display: none;
            @media (min-width:1000px) {
                display: flex;
            }
            gap: 40px;
            font-size: 20px;
            line-height: 45%;
            margin-right: auto;
            & li{
                transition: all 0.5s;
                &:hover{
                    opacity: 70%;
                    transition: all 0.5s;
                }
            }
        }
        & span{
            font-size: 20px;
            position: relative;
            display: none;
            @media (min-width:1000px) {
                display: flex;
            }
            &::after{
                transition: all 0.5s;
                content: '';
                position: absolute;
                height: 2px;
                width: 0%;
                background-color: white;
                left: 0;
                right: 0;
                bottom: -5px;
            }
            &:hover{
                &::after{
                    width: 100%;
                }
            }
            & a{
                display: flex;
                gap: 22px;
            }
        }
        & button{
            background-color: transparent;
            display: flex;
            @media (min-width:1000px) {
                display: none;
            }
        }
        & #arrow{
            max-width: 12px;
            min-width: 12px;
            max-height: 12px;
            min-height: 12px;
            stroke: white;
        }
    }
    & .menu_mobile {
        display: flex;
        flex-direction: column;
        position: absolute;
        color: black;
        align-items: center;
        padding: 30px 15px;
        left: 0;
        right: 0;
        top: 0;
        height: 250px;
        z-index: 5;
        transform: translateY(-100%);
        background-color: white;
        transition: all 0.5s ease;
        @media (min-width:1000px) {
            display: none;
        }
        & *{
            color: black;
        };
        &.active {
            transform: translateY(0%);
        }
        & .top{
            display: flex;
            align-items: center;
            width: 100%;
            & span{
                margin-left: auto;
                margin-right: 10px;
                margin-top: 0;
            }
            & button{
                background-color: transparent;
            }
        }
        & ol{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        & span{
            margin-top: auto;
        }
    }
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: fluid-prop(40,30,1280,320);
        & h1{
            font-size: fluid-prop(90,35,1280,320);
            font-family: Actay-Wide;
        }
    }
}
.card_container-desktop{
    width: 100%;
    height: 580px;
    position: relative;
    display: none;
    @media (min-width:1200px) {
        display: flex;
    }
}
.card{
    display: flex;
    position: absolute;
    gap: 10px;
    max-width: 290px;
    align-items: center;
    border: white 3px solid;
    border-radius: 35px 0px 35px 0px;
    padding: 14px;
    background-color: rgba(255, 255, 255, 0.353);
    backdrop-filter: blur(8px);
    box-shadow: 0px 4px 15px 0px #FFFFFF59;
    & span{
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #5E7600;
        border-radius: 100%;
        border: 1px white solid;
        padding: 13px;
        max-width: 50px;
        min-width: 50px;
        max-height: 50px;
        min-height: 50px;
    }
    & h3{
        font-size: 14px;
        line-height: 130%;
    }
    & svg{
        position: absolute;
        top: -25px;
        right: -30px;
    }
    & img{
        position: absolute;
        user-drag: none;
        -webkit-user-drag: none;
        pointer-events: none;
    }
}
.card-1{
    top: 50px;
    & img{
        top: 100%;
        left: 10%;
    }
}
.card-2{
    top: 310px;
    left: 10%;
    & img{
        top: 100%;
        right: -30%;
    }
}
.card-3{
    top: 450px;
    left: 40%;
    & img{
        top: -237%;
        left: 12%;
    }
}
.card-4{
    top: 200px;
    left: 33%;
    & img{
        top: -80%;
        left: 80%;
    }
}
.card-5{
    top: 120px;
    right: 0;
    & img{
        top: 100%;
        right: -5%;
    }
}
.card-6{
    right: 14%;
    top: 300px;
}

.card_container-mobile{
    display: flex;
    position: relative;
    @media (min-width:1200px) {
        display: none;
    }
}

.slider {
    margin-top: 60px;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}
$padding: fluid-prop(70, 15, 1290, 320);
.swcon {
    width: calc(100vw - #{$padding} * 2);
    height: 237px;
    padding-top: 20px;
    overflow-x: hidden;
}
.swiper-slide {
    width: 100%;
    height: 217px;
    display: flex;
    & strong{
        display: block;
        width: 15px;
    }
}
.swiper-wrapper{
    & .card{
        width: 100%;
        height: 217px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: none;
        position: static;
        box-shadow: none;
        & span{
            position: relative;
            font-size: 48px;
            max-width: 73px;
            min-width: 73px;
            max-height:73px;
            min-height:73px;
            & h5{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-56%, -46%);
            }
        }
    }
}
.nav_con{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    bottom: -40px;
    font-size: 15px;
    user-select: none;
    & div:nth-child(2){
        & img{
            transform: rotate(180deg);
        }
    }
}
.navigation{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    & img{
        width: 24px;
    }
}

.info{
    margin-top: 70px;
    display: flex;
    position: relative;
    & .info_btn{
        background-color: transparent;
        display: block;
        margin-inline: auto;
        font-size: fluid-prop(24,20,1280,320);
        padding: 10px 80px;
        background-color: white;
        border-radius: 160px;
        color: black;
        line-height: 100%;
        cursor: pointer;
        transition: all 0.5s;
        &:hover{
            opacity: 80%;
            transition: all 0.5s;
        }
    }
}
.popup_container{
    position: absolute;
    z-index: 6;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    backdrop-filter: brightness(40%);
    padding-block: fluid-prop(90, 60, 1280, 320);
    padding-inline: fluid-prop(60, 26, 1280, 320);
    transform: translateY(-100%);
    transition: all 0.5s;
    &.active {
        transform: translateY(0%);
    }
}
.popup{
    padding-block: fluid-prop(90, 60, 1280, 320);
    padding-inline: fluid-prop(60, 26, 1280, 320);
    max-width: 990px;
    max-height: 470px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 35px;
    position: relative;
    overflow: hidden;
    & p{
        color: black;
        font-size: fluid-prop(20,14,1280,320);
        margin-top: 10px;
    }
    & button{
        background-color: transparent;
        position: absolute;
        top: 35px;
        right: 35px;
        cursor: pointer;
        & img{
            max-width: 25px;
            min-width: 25px;
            max-height: 25px;
            min-height: 25px;
        }
    }
}
.text{
    scrollbar-width: thin;
    overflow-y: auto;
    max-height: 350px;
}