@use "sass:math";

@function fluid-prop($max, $min, $maxVW: 1920, $minVW: 390, $base: 16) {
    $slope: math.div($max - $min, $maxVW - $minVW);
    $yAxisIntersection: $min - $slope * $minVW;

    @return clamp(#{math.div($min, $base)}rem,
        #{math.div($yAxisIntersection, $base)}rem + #{$slope * 100}vw,
        #{math.div($max, $base)}rem);
}

@function fluid-prop-dvh($max, $min, $maxVH: 1080, $minVH: 640, $base: 16) {
    $slope: math.div($max - $min, $maxVH - $minVH);
    $yAxisIntersection: $min - $slope * $minVH;

    @return clamp(#{math.div($min, $base)}rem,
        #{math.div($yAxisIntersection, $base)}rem + #{$slope * 100}dvh,
        #{math.div($max, $base)}rem);
}