:root{
    --dark: #2C2416;
    --white: #FAF6F1;
    --light-white: #E0D8CE;
    --accent: #C45C3E;
    --grey: #5C5248;
    --light-grey: #D4CCC2;
    --olive: #F3EDE6;
    --light-olive: #E8DFD4;
    --green: #5C6B4A;
}